@font-face {
  font-family: 'Proxima nova';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Regular.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Proxima nova';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semiblod.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Semibold.woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima nova';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Blod.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Bold.woff");
  font-weight: 700;
  font-style: normal; }

button:focus {
  outline: none; }

body {
  font-family: 'Proxima nova';
  font-weight: 400; }

.page-header-section {
  background: url("../img/bg-head-desk.png") no-repeat;
  background-position: right;
  min-height: 700px;
  background-size: auto auto; }

.navbar-toggler {
  outline: none; }

.nav-toggle {
  width: 20px;
  height: 15px;
  padding: 0;
  position: relative;
  border: none;
  outline: 0px; }

.nav-toggle span {
  background-color: #a2a2a2;
  width: 20px;
  height: 3px;
  display: block;
  position: absolute;
  border-radius: 15px;
  top: 50%;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .nav-toggle span::before {
    content: '';
    background-color: #a2a2a2;
    width: 20px;
    height: 3px;
    border-radius: 15px;
    display: block;
    position: absolute;
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .nav-toggle span::after {
    content: '';
    background-color: #a2a2a2;
    width: 20px;
    border-radius: 15px;
    height: 3px;
    display: block;
    position: absolute;
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.nav-toggle--active span {
  width: 0; }
  .nav-toggle--active span::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .nav-toggle--active span::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.nav-link {
  font-size: 13px;
  color: #000000; }
  .nav-link:hover {
    color: #1170dc; }

.nav-item {
  margin-left: 20px; }

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0; }

.white-wrap {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  border-radius: 50px;
  min-height: 70px; }
  .white-wrap::before {
    content: '';
    background-color: #fff;
    width: 4000px;
    min-height: 70px;
    position: absolute; }

.navbar-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.navbar {
  margin-top: -9px; }
