@font-face {
  font-family: 'Proxima nova';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Regular.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Proxima nova';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semiblod.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Semibold.woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima nova';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Blod.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Bold.woff");
  font-weight: 700;
  font-style: normal; }

button:focus {
  outline: none; }

body {
  font-family: 'Proxima nova';
  font-weight: 400;
  overflow: hidden; }

.page-header-section {
  min-height: 700px;
  position: relative; }

.bg-head {
  position: absolute;
  top: 0;
  min-height: 700px;
  right: 0;
  left: 0;
  z-index: -1; }

.blue-bg {
  background: url("../img/bgnext.png") left no-repeat;
  background-size: cover; }

.navbar-toggler {
  outline: none; }

.nav-toggle {
  width: 20px;
  height: 15px;
  padding: 0;
  position: relative;
  border: none;
  outline: 0px; }

.nav-toggle span {
  background-color: #a2a2a2;
  width: 20px;
  height: 3px;
  display: block;
  position: absolute;
  border-radius: 15px;
  top: 50%;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .nav-toggle span::before {
    content: '';
    background-color: #a2a2a2;
    width: 20px;
    height: 3px;
    border-radius: 15px;
    display: block;
    position: absolute;
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .nav-toggle span::after {
    content: '';
    background-color: #a2a2a2;
    width: 20px;
    border-radius: 15px;
    height: 3px;
    display: block;
    position: absolute;
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.nav-toggle--active span {
  width: 0; }
  .nav-toggle--active span::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .nav-toggle--active span::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.nav-link {
  font-size: 13px;
  color: #000000;
  font-weight: 700;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .nav-link:hover {
    color: #1170dc; }

.nav-item {
  margin-left: 20px; }

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0; }

.white-wrap {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  border-radius: 50px;
  min-height: 70px;
  position: relative;
  z-index: 100; }
  .white-wrap::before {
    content: '';
    background-color: #fff;
    width: 4000px;
    min-height: 70px;
    position: absolute;
    right: 50%;
    z-index: -1; }

.navbar-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.navbar {
  margin-top: -10px; }

.navbar-nav {
  background-color: #fff;
  border-radius: 50px;
  padding: 15px 20px 15px 15px; }

.car-header-img {
  position: absolute;
  right: 10%; }

.hero {
  margin-top: 90px;
  color: #ffffff; }

.hero-title {
  font-size: 29px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  -webkit-animation: show 0.5s ease;
          animation: show 0.5s ease; }

.hero-text {
  font-size: 19px;
  margin-bottom: 40px;
  -webkit-animation: show 1s ease;
          animation: show 1s ease;
  white-space: nowrap; }

.hero-icon {
  border-radius: 50%;
  background-color: #00abfb;
  padding: 12px 13px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .hero-icon:hover {
    -webkit-box-shadow: 0px 0px 30px #00abfb;
            box-shadow: 0px 0px 30px #00abfb;
    text-decoration: none; }

.btns {
  padding: 16px 35px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.hero-tel {
  background-color: #00abfb;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  margin-left: 15px;
  position: relative;
  white-space: nowrap;
  display: inlie-block; }
  .hero-tel:hover {
    -webkit-box-shadow: 0px 0px 30px #00abfb;
            box-shadow: 0px 0px 30px #00abfb;
    text-decoration: none;
    color: #ffffff; }
  .hero-tel::after {
    content: '';
    background: url("../img/head-arrow.png") no-repeat;
    display: block;
    width: 38px;
    height: 69px;
    -webkit-animation: show 2s ease;
            animation: show 2s ease;
    position: absolute;
    top: -75px;
    right: -50px; }

.hero-subtitle {
  color: #69baff;
  font-size: 13px;
  -webkit-animation: show 1s ease;
          animation: show 1s ease; }

.hero-tel-wrap {
  margin-bottom: 35px;
  position: relative;
  -webkit-animation: show 1.5s ease;
          animation: show 1.5s ease; }

@-webkit-keyframes show {
  0% {
    opacity: 0;
    margin-left: 50px; }
  100% {
    opacity: 1;
    margin-left: 0; } }

@keyframes show {
  0% {
    opacity: 0;
    margin-left: 50px; }
  100% {
    opacity: 1;
    margin-left: 0; } }

@media (max-width: 767px) {
  .page-header-section > .container:first-child {
    max-width: 100%; }
  .mob-head-wrap {
    background-color: #fff; }
  .navbar {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 25px; }
  .navbar-brand {
    margin-right: 0; }
  .nav-toggle {
    position: absolute;
    top: 40%;
    right: 2%; } }
